{%load static%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{%static 'css/globals.css'%}" />
    <link type="text/css" rel="stylesheet" href="{%static 'css/auth.css'%}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/icon.png'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Password reset • Chemistry</title>

</head>

<body>
    <div id="loading-base">
        <div class='loading-container'>
            <div class='loading-pulse'>
                </div>
            </div>
    </div>
    <main>

        <a href="{%url 'login'%}" style="position: absolute; top: 0em; left: 0em; padding: 1em; z-index: 99;">
            <svg style="margin: auto 0; transform: rotate(90deg); color: rgb(51, 51, 51);" data-testid="geist-icon"
                fill="none" height="20" shape-rendering="geometricPrecision" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="20"
                style="color: currentcolor;">
                <path d="M6 9l6 6 6-6"></path>
            </svg>
        </a>

        <div id="loginPanel">
            <heading>
                <h2 style="font-family: monospace">Password reset</h2>
                <p style="font-size: 0.85rem; color: #111; margin-top: 1em;">برای تغییر رمز عبور خود  از اینجا اقدام کنید
                </p>
                <div id="err_wrapper">
                </div>
            </heading>
            <div style="all: unset; display: flex; flex-direction: column; gap: 2em; padding: 0 1.5em;">

                <div class="input-wrapper" style="height: 85px;">
                    <div class="form-group form-fade" id="phone_number_cont">
                        <span class="indicator-span">شماره تلفن</span>
                        <input type="text" autocomplete="off" maxlength="10" id="phone_number" class="form-field" placeholder="+98 IR" onkeypress="validate(event)">
                    </div>

                    <div class="form-group faded-form" id="vc_code__cont">
                        <span class="indicator-span">کد تایید</span>
                        <input type="text" maxlength="4" id="vertification_code" class="form-field" placeholder="کد ارسال شده">
                    </div>

                    <div class="input-wrapper faded-form" id="passwords-Cont" style="position: absolute;">
                        <div class="form-group" id="passwrod-1">
                            <span class="indicator-span">رمز جدید</span>
                            <input type="password" id="pass1" class="form-field" placeholder="رمز عبور">
                        </div>
                        <div class="form-group" id="passwrod-2">
                            <span class="indicator-span">تکرار رمز</span>
                            <input type="password" id="pass2" class="form-field" placeholder="تکرار رمز عبور">
                        </div>
                    </div>


                </div>
                <div style="display: flex; flex-direction: column;margin-top: 2em;gap: 1em;">
                    <p style="font-family: monospace;font-size: .9rem;align-self: center;display: none;" id="remainTime"></p>
                    <button  id="submitLogin" class="btn_fill" style="margin-top: 1em;">انجام</button>
                </div>

            </div>
        </div>



        <div id="toggle-radio">
            <div id="switch">
                <a href="{%url 'register'%}">ثبت نام</a>
                <svg style="display: flex; margin: auto 0; color: #111;" data-testid="geist-icon" fill="none"
                    height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1" viewBox="0 0 24 24" width="32"
                    style="color: var(--accents-2);">
                    <path d="M16.88 3.549L7.12 20.451"></path>
                </svg>
                <a href="{%url 'login'%}">ورود</a>
            </div>
        </div>



    </main>


    <script>
        let errCounter = document.getElementById('err_wrapper')
        let remainTime = document.getElementById('remainTime')
        let phoneCont = document.getElementById('phone_number_cont')
        let vcCont = document.getElementById('vc_code__cont')
        let submitLogin  = document.getElementById('submitLogin')

        let passwordCont = document.getElementById('passwords-Cont')

        var intervaling = false;
        submitLogin.onclick = function(){
            sendCode()
        }
        function toggleForm(){
            errCounter.innerHTML = ''
            if (vcCont.classList.contains('form-fade')){
                remainTime.style.display ='none'
                vcCont.classList.remove('form-fade')
                vcCont.classList.add('faded-form')

                passwordCont.classList.add('form-fade') 
                passwordCont.classList.remove('faded-form')
                
                submitLogin.onclick = function(){
                    changePass()
                    }
            }else{
                phoneCont.classList.add('faded-form')
                phoneCont.classList.remove('form-fade')

                vcCont.classList.add('form-fade')
                vcCont.classList.remove('faded-form')
                remainTime.style.display='flex'
                remainTime.innerHTML = '<a href="/passwordreset/">تغییر شماره تلفن</a>'
                submitLogin.onclick = function(){
                        codeVerify()
                    }
            }

        }

        function changePass(){
            const pass1 = document.getElementById('pass1').value
            const pass2 = document.getElementById('pass2').value
            const vertification_code = document.getElementById('vertification_code').value
            const phone_number =  document.getElementById('phone_number').value
            
            if(pass1.length < 5){
                errCounter.innerHTML = `
                    <p class="err_message">پسورد شما باید بیشتر از 5 کاراکتر باشد</p>`
            }else{
            if(pass1 != pass2){
                errCounter.innerHTML = `
                    <p class="err_message">پسورد ها با یکدیگر مطابقت ندارند</p>`
            }else{
                toggleLoading()
                $.ajax({
                    url:'/passwordreset/',
                    type:'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{csrf_token}}',
                        'vertification_code': vertification_code,
                        'phone_number': phone_number,
                        'password': pass1,
                        'action': 'change_pass'
                    },
                    success: function (response){
                        toggleLoading()
                        const err = response['ERR']
                        if (err != 'None'){
                            errCounter.innerHTML = `
                            <p class="err_message">لطفا از نو تلاش نمایید</p>`
                        }else{
                            errCounter.innerHTML = `
                            <p class="notif_message">پسورد شما با موفقیت تغییر پیدا کرد</p>`
                            setTimeout(function(){
                                window.location.href ='/login/'
                            },1500)
                        }
                    }
                })
                }
            }
        }

        function codeVerify(){
            const vertification_code = document.getElementById('vertification_code').value
            const phone_number =  document.getElementById('phone_number').value
            toggleLoading()
            $.ajax({
                url:'/passwordreset/',
                type:'POST',
                data: {
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                    'vertification_code': vertification_code,
                    'phone_number': phone_number,
                    'action': 'vc_verify'
                },
                success: function (response){
                    toggleLoading()
                    const err = response['ERR']
                    if (err != 'None'){
                        if (err  == 'code')
                            errCounter.innerHTML = `
                            <p class="err_message">کد وارد شده <span style='font-family:monospace;'>(${vertification_code})</span> مطابقت ندارد</p>`
                        else{
                            errCounter.innerHTML = `
                            <p class="err_message">لطفا از نو تلاش نمایید</p>`
                        }
                    }else{
                        toggleForm()
                    }
                }
            })
        }
        function sendCode(){
            const phone_number =  document.getElementById('phone_number').value
            toggleLoading()

            $.ajax({
                url:'/passwordreset/',
                type:'POST',
                data: {
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                    'phone_number': phone_number,
                    'sTime': new Date().getTime(),
                    'action': 'vc_send'
                },
                success: function(response){
                    const err = response['ERR']
                    toggleLoading()
                    if(err != 'None'){
                        errCounter.innerHTML = `
                        <p class="err_message">${'شماره تلفن وارد شده معتبر نمیباشد'}</p>`
                    }else{
                        errCounter.innerHTML = ''

                        if(response['codeGenned'] == 'True'){
                            toggleForm()
                            intervaling = false
                        }else{
                            if(!intervaling){
                                let remaininTimeInSec = parseInt(response['ERRT'])
                                console.log(remaininTimeInSec)
                                remainTime.style.display='flex'
                                let Gloc = setInterval(function(){
                                    remain = (120-remaininTimeInSec)
                                    if(remain <= 0){
                                        clearInterval(Gloc)
                                        remain = 0
                                    }
                                    remainTime.innerHTML =  remain+'s'
                                    remaininTimeInSec ++
                                },1000)
                            }

                            intervaling  = true
                        }
                    }
                }
            })
        }
        
        validate = (evt) => {
        var theEvent = evt || window.event;

        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }
    </script>
</body>
<script src="{%static 'js/base.js'%}"></script>