{%extends 'home/base.html'%}
{%load static%}


{%block content%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="{%static 'css/video.css'%}">
<main>
    <div class="options-container">
        <div class="sort-cont">
            <div class="sort-list-cont" id="enabled-filters"><h3 id="no-sort">فیلتری پیدا نشد</h3></div>
            <div class="line">
                <button id="update-filter-button">اعمال فیلتر</button>
            </div>
            <div class="sort-list-cont" id="disabled-filters">
                <div class="sort-item sort-disabled" type="یازدهم">یازدهم</div>
                <div class="sort-item sort-disabled" type="دوازدهم">دوازدهم</div>
                <div class="sort-item sort-disabled" type="دهم">دهم</div>
                <div class="sort-item sort-disabled" type="اول">فصل اول</div>
                <div class="sort-item sort-disabled" type="دوم">فصل دوم</div>
                <div class="sort-item sort-disabled" type="سوم">فصل سوم</div>
                <div class="sort-item sort-disabled" type="چهارم">فصل چهارم</div>
                <div class="sort-item sort-disabled" type="حل" style="font-size: .8rem;">حل تست به همراهی دانش آموزان</div>
                <div class="sort-item sort-disabled" type="درسنامه">درسنامه</div>
                <div class="sort-item sort-disabled" type="تست">نکته تست</div>
            </div>
        </div>
        <button class="button-white" id="sorter-button">دسته بندی
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sort-a-z" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M16 8h4l-4 8h4"></path>
            <path d="M4 16v-6a2 2 0 1 1 4 0v6"></path>
            <path d="M4 13h4"></path>
            <path d="M11 12h2"></path>
         </svg>
        </button>
        <button class="button-white" onclick="window.location.href = 'watchlist/{{user.username}}'">لیست تماشا
            <svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"></path>
            <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"></path>
            <path d="M9 12l.01 0"></path>
            <path d="M13 12l2 0"></path>
            <path d="M9 16l.01 0"></path>
            <path d="M13 16l2 0"></path>
         </svg>
        </button>
    </div>
    <div id="videos-container">

        {%for video in videos%}
        

        <div class="video-container">
            <a href="/video/{{video.pk}}">
            <img src="{{video.Thumbnail.url}}" class="thumbnail-img">
                </a>
            <a class="video-link" href="/video/{{video.pk}}">{{video.Title}}</a>
        </div>
        {%endfor%}

    </div>

    <div id="paginator-cont">
        {%for page in videos.paginator.page_range%}
        <a href="/video/?page={{page}}">
            <div class="paginator">
                {{page}}
            </div>
        </a>
        {%endfor%}
    </div>
</main>

<script>
    var filters = {
        'دهم': false,
        'یازدهم': false,
        'دوازدهم': false,
        'اول': false,
        'دوم': false,
        'سوم': false,
        'چهارم': false,
        'حل': false,
        'تست': false,
        'درسنامه': false
    }



    $('#update-filter-button').on('click', function(){
        toggleLoading()
        $.ajax({
            url:'/video/',
            type:'POST',
            data:{
                'csrfmiddlewaretoken':'{{csrf_token}}',
                'filters':JSON.stringify(filters)
            },
            success: function(response){
                toggleLoading()
                const videosCont = document.getElementById('videos-container')
                videosCont.innerHTML = ''
                const videos = JSON.parse(response['videos'])
                const page_ranges = JSON.parse(response['page_ranges'])
                var paginatorCont = document.getElementById('paginator-cont')
                paginatorCont.innerHTML =''
                console.log(page_ranges, page_ranges.length)
                for(let i=0;i<page_ranges.length;i++){
                    console.log('added')
                    paginatorCont.innerHTML += `        
                    <a href="/video/?page=${page_ranges[i]}">
                        <div class="paginator">
                            ${page_ranges[i]}
                        </div>
                    </a>`
                }
                for(let i=0;i<videos.length;i++){
                    videosCont.innerHTML += 
                    `
                    <div class="video-container">
                        <a href="/video/${videos[i].pk}">
                        <img src="${videos[i].thumb}" class="thumbnail-img">
                            </a>
                        <a class="video-link" href="/video/${videos[i].pk}">${videos[i].title}</a>
                    </div>
                    `
                }
            }
        })

    })

    
    function changeLoc(el){
        const parentEl = el.parentElement
        const type = el.getAttribute('type')
        const noSort = document.getElementById('no-sort')
        if(parentEl.getAttribute('id') == 'enabled-filters'){
            document.getElementById('disabled-filters').appendChild(el)
            el.classList.add('sort-disabled')
            el.classList.remove('sort-enabled')
            filters[type] = false
        }else{
            document.getElementById('enabled-filters').appendChild(el)
            el.classList.add('sort-enabled')
            el.classList.remove('sort-disabled')
            filters[type] = true
        }
        noSort.style.display='none'
        if(parentEl.querySelectorAll('div.sort-item').length == 0){
            noSort.style.display='flex'
            parentEl.appendChild(noSort)
        }
    }
    
    const sortBtns = document.querySelectorAll('div.sort-item')
    for(let i=0;i<sortBtns.length;i++){
        sortBtns[i].addEventListener('click', function(){
            changeLoc(sortBtns[i])
        })
    }
    
    $('#sorter-button').on('click', function(){
        $('.sort-cont').toggleClass('menu-show')
    })


</script>
    
{%endblock%}