.plans-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: fit-content;
    margin-top: 30px;
    gap: 15px;
}

.plan-card {
    display: flex;
    border: 1px solid #000;
    padding: 1em;
    flex-direction: column;
    direction: rtl;
    height: fit-content;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    gap: 40px;
    height: 100%;
    justify-content: space-between;
}



.card-upper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-lower{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: fit-content;
}

.price {
    margin: 0;
    width: 90%;
    text-align: left;
    font-weight: bold;
    font-size: .875rem;
    font-family: monospace;
}

.plan-name{
    margin: 0;
    font-size: 1rem;
    padding: .5em;
    width: 100%;
    border: 1px solid #e2e2e2;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.colum-breaker{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

.subscribe {
    border-radius: 5px;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-family: IRSansB;
    width: 100%;
    padding: .3em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    font-size: .9rem;
    transition: all 300ms ease;
}

.subscribe:hover {
    background-color: white;
    color: black;
}

.users_counter{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: .7rem;
}

.users_counter > p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: .9rem;
}

@media only screen and (max-width:767px){
    .plans-container{
        grid-template-columns: 1fr;
    }
}