
.question {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    overflow: hidden;
}

.question-detail {
    padding: 1em ;
    flex: 1;
    min-height: 350px;
    direction: rtl;
    border: 1px solid #e2e2e2;
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: column;
}

.q-t {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: fit-content;
}
.question-title {
    font-family: IRSansB;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1em;
    flex: 1;

}

.no-a-cont{
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-family: IRSansB;
    direction:rtl;
    line-height: 30px;
    padding: 1em;
    border: 1px solid #e2e2e2;
}



.question-id{
    font-family: Poppins;
    font-size: .9rem;
    font-weight: bolder;
    align-items: center;
    display: flex;
}

.question-content{
    color: black;
    font-size: .9rem;
    border-radius: 5px;
    line-height: 30px;
    padding: 1em 2em;
    flex: 1;
}

.last-detail {
    width: 100%;
    height: fit-content;
    display: flex;
    flex: 0;
    direction: ltr;
    justify-content: space-between;
}

.last-detail > p {
    font-family: Poppins;
    font-size: .875rem;
    color: #333;
    font-weight: 600;
}

.user-profile {
    cursor: pointer;
}

.user-profile:hover {
    color: black;
    text-decoration: underline;
}
.image {
    max-width: 60%;
}
.image > img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
    max-height: 500px;
}

.image > video {
    max-width: 100%;
    object-fit: cover;
    max-height: 500px;
}

.solutionist-panel {
    max-width: 100%;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    display: flex;
    padding-bottom: 30px;
    position: relative;
}

.options-cont {
    display: flex;
    flex-direction: row;
    padding: .8em 2em;
    gap: 15px;
    flex-wrap: wrap;
    
}

.s-option {
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 5px 3px #e2e2e2;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-family: IRSansB;
    padding: .3em .5em;
    border-radius: 5px;
    font-size: .9rem;
    width: fit-content;
    align-items: center;
    gap: 5px;
    height: fit-content;
    position: relative;
    height: 100%;
    flex: 1;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
}

.s-option > svg {
    width: 17px;
    height: 17px;
    transition: all 300ms ease;
}

.s-option:hover {
    color: white;
    background-color: black;
}

.s-option:hover .svg-delete { 
    stroke: red;
}
.s-option:hover .svg-answer {
    stroke: green;
}

#solution {
    width: 90%;
    align-self: center;
    flex-direction: row;
    gap: 20px;
    display: none;
    overflow: hidden;
    animation: .8s ease jumpIn;
}

@keyframes jumpIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.upload-options {
    max-width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}

.upload-options > img {
    flex: 0;
    max-height: 200px;
    max-width: 500px;
    height: auto;
    
}
.upload-options > video {
    flex: 0;
    max-height: 200px;
    max-width: 500px;
    height: auto;
    display: none;
}

.s-h-t {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#show-answer {
    display: none;
}

#s-h-t-t {
    resize: none;
    outline: none;
    border-radius: 5px;
    font-size: .875rem;
    padding: 1em;
    font-family: IRSansB;
    color: #111;
    border: 1px solid #e2e2e2;
    width: 100%;
    flex: 1;
    direction: rtl;
    transition: all 300ms ease;
}

#subject{
    padding: .8em;
    font-size: 1rem;
    font-family: IRSansB;
    font-weight: bolder;
    width: 100%;
    direction: rtl;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    outline: none;
}

.upload-OP {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    align-items: center;
}

.upload-OP > button {
    background-color: white;
    width: 80%;
    border-radius: 5px;
    border: 1px solid black;
    border: 1px solid black;
    transition: all 300ms ease;
    color: black;
    cursor: pointer;
    position: relative;
    padding: .4em;
} 

.upload-OP > button:hover {
    background-color: black;
    color: white;
}

#m-l {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #444;
    font-family: Poppins;
    font-size: .7rem;
    font-weight: bolder;
}

#file-inp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.loading-pulse {
    position: relative;
    width: 6px;
    height: 24px;
    background: rgb(0, 0, 0);
    -webkit-animation: pulse 750ms infinite;
            animation: pulse 750ms infinite;
    -webkit-animation-delay: 250ms;
            animation-delay: 250ms;
}

.loading-pulse:before, .loading-pulse:after {
    content: "";
    position: absolute;
    display: block;
    height: 16px;
    width: 6px;
    background: rgb(0, 0, 0);
    top: 50%;
    transform: translateY(-50%);
    -webkit-animation: pulse 750ms infinite;
            animation: pulse 750ms infinite;
}

.loading-pulse:before {
    left: -12px;
}

.loading-pulse:after {
    left: 12px;
    -webkit-animation-delay: 500ms;
            animation-delay: 500ms;
}

.loading-container {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    background-color: rgba(226, 226, 226, 0.678);
    backdrop-filter: saturate(200%) blur(2px);
    z-index: 2;
    justify-content:center;
    align-items: center;
    display: none;
    animation: fi 1s ease;
}
@keyframes fi {
    from {
        opacity: 0;
        justify-content: baseline;
    }
    to{
        opacity: 1;
        justify-content: center;
    }
}

@-webkit-keyframes pulse {
    50% {
    background: white;
}
}
@keyframes pulse {
    50% {
    background: white;
}
}

.more-data {
    width: 90%;
    margin: auto;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 1em 2em;
    border: 1px solid #e2e2e2;
    margin-top: 30px;
}

#delete{
    width: 90%;
    border:1px solid #e2e2e2;
    margin: auto;
    padding: 1em;
    direction: rtl;
    display: none;
    gap:20px;
    flex-wrap: wrap;
    animation: 1s jumpIn ease;
}

#delete > p {
    font-size: 1rem;
    font-family: IRSansB;
    width: fit-content;
    flex: 0;
    white-space: nowrap;
}

.answer-detail {
    padding: 1em;
    flex: 1;
    display: flex;
    min-height: 200px;
    flex-direction: column;
    direction: rtl;
    border: 1px solid #e2e2e2;
}

.answer-content {
    flex: 1;
    padding: 1em;
    font-size: .875rem;
    font-family: IRSansB;
}

.prompt-D {
    flex: 1;
    display: flex;
    gap: 20px;
}

.prompt-D > button {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    flex-grow: 1;
    flex-basis: 0;
    font-weight: bolder;
    cursor: pointer;
    transition: all 300ms ease;
}

.prompt-D > button:hover { 
    background-color: black;
    color: white;
}

.q-a-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 50px;
    border-radius: 5px;
    overflow: hidden;
}

@media only screen and (max-width:767px){
    #solution {
        flex-direction: column-reverse;
    }
    .upload-options{
        width: 100%;
        max-width: 100%;
        height: fit-content;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .upload-options > img {
        width: 100%;
        height: auto;
        max-height: 200px;
        flex: 0;
        max-width: 60%;
    }

    .upload-OP {
        flex: 1;
    }

    .question {
        flex-direction: column;
    }
    .image {
        max-width: 100%;
        width: 100%;
        margin: auto;
    }
    .image > img {
        max-height: 100%;
        width: 100%;
        object-fit: cover;

    }
    
}